@charset "ISO-8859-1";

body{
	height: 750px;
    background: SaddleBrown; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, palegoldenrod); /* Standard syntax */
}

.InputBox[type=text]
 {
    background-color: white;
    text-align: center;
    padding: 5px 5px;
  	margin: 25px;
  	width: 30%;
  	align-content:center;
    position: absolute;
   	top: 60%;
   	left:40%;
   	margin-top: -50px;
   	margin-left: -100px;
   	border-radius: 8px;
   	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
 }
  
 .EagleImage
 {
 	align-content:center;
   	position: absolute;
   	top: 20%;
   	left: 50%;
   	margin-top: -50px;
   	margin-left: -100px;
 }
 
 .FooterTxt
 {
  	font-size: 150%;
 	font-family: "Times New Roman", Times, serif;
 	align-content:center;
   	position: absolute;
   	top: 88%;
   	left: 43%;
   	margin-top: -50px;
   	margin-left: -100px;
 
 }

.SubmitBttn
{
	width: 7%;
	height: 5%;
	position: absolute;
   	top: 60%;
   	left: 73%;
   	margin-top: -50px;
   	margin-left: -100px;
   	background-color: black;
   	color: yellow;
   	border: none;
   	border-radius: 8px;
   	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.SubmitBttn:hover{
	background-color: yellow;
	color: black;
}

.LostCardBttn
{
	width: 10%;
	height: 5%;
	position: absolute;
   	top: 70%;
   	left: 52%;
   	margin-top: -50px;
   	margin-left: -100px;	
   	background-color: black;
   	color: yellow;
   	border: none;
   	border-radius: 8px;
   	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.LostCardBttn:hover{
	background-color: yellow;
	color: black;
}

.LogInBttn
{   
	width: 10%;
	height: 4%;
	position: absolute;
   	top: 19%;
   	left: 95%;
   	margin-top: -50px;
   	margin-left: -100px;	
   	background-color: black;
   	color: yellow;
   	border: none;
   	border-radius: 8px;
   	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.LogInBttn:hover{
	background-color: yellow;
	color: black;
}

.searchType
{
	position: absolute;
   	top: 63.5%;
   	left: 42%;
}
.searchType2
{
	position: absolute;
   	top: 63.5%;
   	left: 48%;
}

.Label1
{
	position: absolute;
   	top: 63%;
   	left: 44%;
   	font-size: 130%;
}
.Label1:hover{
	color: yellow;
}
.Label2
{
	position: absolute;
   	top: 63%;
   	left: 50%;
   	font-size: 130%;
}
.Label2:hover{
	color: yellow;
}


.content
{
	
	position: absolute;
   	top: 70%;
   	left: 25%;
   	color:Black;
   	font-size: 150%;
   	font-weight: bold;
    	
}






.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


